## mako
{% load static i18n %}

<%page expression_filter="h"/>
<%namespace name='static' file='/static_content.html'/>
<%!
from django.urls import reverse
from django.utils.translation import ugettext as _
%>
<h1 class="hd logo-header navbar-brand">
  <div class="logo">
    <a class="navbar-brand" href="/" itemprop="url">
      <img id="academiacentral_logo" class="logo-image" src="{% static 'images/logo.png' %}" alt="${_("{platform_name} Home Page").format(platform_name=static.get_platform_name())}" />
    </a>
  </div>
</h1>
