{% load static i18n %}
<div class="container">
  <div class="branding">
      <h1 class="logo">
          <span aria-hidden="true" class="icon_documents_alt icon"></span>
          <span class="text-highlight">Shade</span><span class="text-bold">Tree</span>
      </h1>
  </div><!--//branding-->
  <div class="tagline">
      <p>Everything you ever wanted to know about open source configuration parameters</p>
      <p>Designed with <i class="fas fa-heart"></i> for developers</p>
  </div><!--//tagline-->
  
 <div class="main-search-box pt-3 pb-4 d-inline-block">
    <form class="form-inline search-form justify-content-center" action="" method="get">
        <input type="text" placeholder="Enter search terms..." name="search" class="form-control search-input">
        <button type="submit" class="btn search-btn" value="Search"><i class="fas fa-search"></i></button>
    </form>
 </div>
   
  <div class="social-container">
    <div class="github-btn mb-2">
        <a class="github-button" href="https://github.com/lpm0073/shadetrees" data-size="large" aria-label="Star lpm0073/shadetrees on GitHub">Star</a>
        <a class="github-button" href="https://github.com/xriley" data-size="large" aria-label="Follow @lpm0073 on GitHub">Follow @lpm0073</a>
    </div>
    <div class="twitter-tweet">
        <a href="https://twitter.com/LorenzoDPolanco?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @LorenzoDPolanco</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <div class="fb-like" data-href="https://shadetrees.io/" data-width="" data-layout="button_count" data-action="like" data-size="small" data-share="true"></div>
</div>
   
  
</div>