
@import "custom_bootstrap_vars";
@import "bootstrap";




// project specific CSS goes here

////////////////////////////////
		//Variables//
////////////////////////////////

// mcdaniel: 
// ========================================================================
// prettdocs
@import "./prettydocs/styles.scss";
// fontawesome setup
// https://fontawesome.com/how-to-use/on-the-web/using-with/sass
@import "../fontawesome/scss/fontawesome.scss";
@import "../fontawesome/scss/solid.scss";
@import "../fontawesome/scss/brands.scss";
$fa-font-path: "../fontawesome/webfonts";
// ========================================================================

// Alert colors

$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;

////////////////////////////////
		//Alerts//
////////////////////////////////

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error

.alert-debug {
  background-color: $white;
  border-color: $mint-green;
  color: $black;
}

.alert-error {
  background-color: $pink;
  border-color: $dark-pink;
  color: $red;
}

.logo {
  height: 60px;
}