<header class="global-header">
    <p>main header</p>
    <div class="main-header">
        {% include "header/navbar-logo-header.html" %}

        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}">Bored Bettie</a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'about' %}">About</a>
                </li>
                {% if request.user.is_authenticated %}
                    {% include "header/navbar-authenticated.html" %}
                {% else %}
                    {% include "header/navbar-not-authenticated.html" %}
                {% endif %}
              </ul>
            </div>
          </nav>

    </div>
</header>
